@model EPaczuchaWeb.Models.PackageViewModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add</h1>

<h4>PackageViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SimpleName" class="control-label">Przyjazna nazwa paczki</label>
                <input asp-for="SimpleName" class="form-control" />
                <span asp-validation-for="SimpleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Data nadania:</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <label asp-for="PackageType.Id">Typ paczki</label><br />
                <select asp-for="PackageType.Id">
                <option value=1 name="Typ A">Typ A</option>
                <option value=2 name="Typ B">Typ B</option>
                <option value=3 name="Typ C">Typ C</option>
                </select>
                <br />
            </div>
            <div>
                <label asp-for="SendMethod.Id">Sposób wysłania paczki</label><br />
                <select asp-for="SendMethod.Id">
                <option value=1 name="Paczka ekonomincza">Paczka ekonomincza</option>
                <option value=2 name="Paczka priorytetowa">Paczka priorytetowa</option>
                <option value=3 name="Kurier">Kurier</option>
                </select>
                <br />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
